  /* Header styles */
.header {
    display: flex;
    justify-content: flex-start; /* Aligns items to the left and right */
    align-items: center; /* Centers items vertically */
    padding: 10px 20px; /* Adds some padding inside the header */
    background-color: #f8f8f8; /* Light background */
}

nav li {
    margin-right: 20px; /* Space between nav items */
}


.home-button {
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
}

/* dropdown menu */
/* Base styles for navigation and header */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
li {
    position: relative;
    text-decoration: none; 
}
  
button {
    background: none;
    border: none;
    color: #002c5b;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}
  

  
/* Dropdown Menu */
.dropdown-container {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    width: 100%;
}
.dropdown {
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 0;
    width: 100%;
    border-radius: 7px;
}

.dropdown li {
    margin: 0; /* Removes any margin */
    padding: 0; /* Removes any padding */
}
  
.dropdown li a{
    padding: 10px 15px;
    text-align: center; 
    display: block;
    color: #333;
    text-decoration: none; 
    
  }

  
.dropdown li:hover, .dropdown li a:hover {
    background-color: #f1f1f1;  /* Ensures hover effect is consistent */
}
  
.dropdown li:hover a, .dropdown li a:hover {
    background-color: #f1f1f1; /* Ensures the hover effect covers the whole area */
}