.bgSec {
  height: 100vh; /* Make each section full screen height */
  color: white; /* Set text color to white for readability */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  opacity: 0.2; /* Lower the opacity to make the background images less solid */
}


.bgTabooSec1 {
  background-image: url('../imgs/taboo.jpg');
}

.bgTabooSec2 {
  background-image: url('../imgs/taboo.jpg');
}

.bgTabooSec3 {
  background-image: url('../imgs/taboo.jpg');
}

.bgTabooSec4 {
  background-image: url('../imgs/taboo.jpg');
}

/* hints*/
.scroll-hint {
  position: absolute;
  bottom: 20px; /* Position at the bottom of the section */
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  font-size: 24px; /* Adjust size as needed */
  color: rgb(9, 9, 9); /* Adjust color as needed */
  animation: bounce 2s infinite; /* Add a bounce animation for visibility */
  cursor: pointer; /* Indicates it's interactive or a hint */
}