
.App {
  text-align: center;
  background-color: #ebeae4; 
}

/* footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.footer a {
  color: white;
  text-decoration: none;
  padding: 0 15px; 
  border-right: 1px solid white; 
}

.footer a:last-child {
  border-right: none;
}

.footer a:hover {
  text-decoration: underline;
}
